* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(100deg, #402, #006);
}

#main {
    width: 40%;
    height: 60vh;
    background-color: rgb(145, 12, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;

    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}



#part1 {
    width: 50%;
    height: 50vh;
    /* float: left; */
    /* background-color: whitesmoke; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
}

#part2 {

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 60vh;
    /* background-color: yellow; */
}

h3 {
    color: whitesmoke;
}

#t1,
#t2,
#t3,
#t4,
#t5 {
    /* width: 100%; */
    margin: 5px;
    border: none;
    background-color: rgb(145, 12, 240);
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.1rem;
    
}

#btn1 {
    width: 50%;
    height: 2rem;
    border-radius: 30px;
    border: none;
    font-size: .8rem;
    color: whitesmoke;
    background-color: blueviolet;
    margin-left: 2.5rem;
    margin-top: .5rem;
}

::placeholder {
    color: whitesmoke;
}

#t1:focus,
#t2:focus,
#t3:focus,
#t4:focus,
#t5:focus {
    outline: none;
}